@charset "utf-8";

body{
    background: rgb(103, 176, 202);
    font: normal 15pt arial;

}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}
div#msg{
    text-align: center;
    padding: 5px 0px;
}

div#foto{
    display: block;
    text-align: center;
    padding: 20px 0px;
}
div img.alt-imagem{
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}